head{
    text-align: center;
    align-items: center;
}


body, html {
    text-align: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.error {
    color: red;
}

.success {
    color: green;
}

.subhead {
    font-weight: bold;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}